aiohttp>=3.8.0
websockets>=10.0
requests>=2.28.0
channels>=3.0.0  # For Django WebSocket
django-cors-headers>=3.0
click
rich
daphne
django-rest-framework
djangorestframework-simplejwt
qrcode
Pillow
Twisted[tls,http2]
